# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Redis
dump.rdb

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/
*.egg-info/

# Uploads
*.zip
