@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#09090b;
color:#fafafa;
}

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#09090b;
}

::-webkit-scrollbar-thumb{
background:#27272a;
border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
background:#3f3f46;
}

::selection{
background:#06b6d4;
color:#fff;
}

.glass{
background:rgba(255,255,255,.04);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.08);
}

.gradient{
background:
linear-gradient(
135deg,
#06b6d4,
#2563eb,
#7c3aed
);
}

.shadow-glow{
box-shadow:
0 0 40px
rgba(6,182,212,.25);
}

:root{
--bg:#09090b;
--surface:#18181b;
--border:#27272a;
--text:#fafafa;
--muted:#a1a1aa;
--primary:#06b6d4;
--primary2:#2563eb;
--radius:18px;
}

.gradient-text{
background:linear-gradient(90deg,#06b6d4,#2563eb,#7c3aed);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
